body{
  background: #732C2C;
}

h1 {
  color: #BAD9B5;
  font-family: "Abel";
}

.texto{
  color: #420C14;
  font-family: "Ubuntu Condensed";
  font-size: 20px;
}

#message{
  color: #EFF7CF;
}

.caja{
  background-color: #ABA361;
  font-family: "Ubuntu Condensed";
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #420C14;
  padding: 10px;

}

#offset{
  width: 100px;
  height: 25px;
  text-align: center;

}
.button{
  background-color: #BAD9B5;
  color: #420C14;
  font-family: "Abel";
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.button:hover{
  background-color: #420C14;
  color: #BAD9B5;
  border: none;

}

.acordeon input {
    display: none;
}

.acordeonTitulo {
    display: block;
    padding: 5px;
    background: #84BC9C;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: "Abel";
    border-radius: 5px;
}
.acordeonTitulo:hover {
    background: #2CA58D;
    color: #EFF7CF;
}

.acordeonContenido {
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
    color: #EFF7CF;
    font-family: "Ubuntu Condensed";
    text-align: justify;
    position:
}


.acordeon input:checked ~ .acordeonContenido{
    height: auto;
    margin: 5px 0;
}

/*

EFF7CF,BAD9B5,ABA361,732C2C,420C14
*/
